@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

p{
    font-weight: bolder;
    line-height: clamp(50px, 80px, 110px);
    font-size: 2vw;
    
}
header{
    background-color: black;
    padding: 20px;
    font-size: 3vw;
}

header p{
    color: rgb(151, 151, 151);
    text-align: center;
}


header a, h1{
    color: white;   
    text-align: center;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

main div {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.452);
}

#fundo_1{
    background-color: white;
    max-height: 1000px;
}

#fundo_2{
    background-image: url(imagens/background001.jpg);
    height: 1000px;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;   
    background-position: center ;
       
}

#fundo_3{
    background-color: white;
    max-height: 1500px;
    min-height: 500px;

}

#fundo_4{
    background-image: url(imagens/background002.jpg);
    height: 1000px;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;   
    background-position: center ;
}

#fundo_5{
    background-color: white;
    height: 1300px;

}


.paragrafo_1{
    font-size: 2.5vw;
    
    margin-left: 40px;
}


.paragrafo_2{
    font-size: 2.5vw;
    
    
    color: white;
    background-color: rgba(0, 0, 0, 0.514);
    
    max-height: 800px;
    min-height: 500px;
    max-width: 1200px;
    min-width: 200px;

    margin-left: 40px;
    padding: 20px;

    

    
    
}


